body{
    background-color: #021b3b;
}


.carousel.slide {
    max-height: 400px;
}

.carousel img {
    max-height: 400px;
}


#ofertas{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    
}

#ofertas h1{
    margin-bottom: 40px;
    text-align: left;
    color: white;
    
}

.card {
    display: inline-block;
    margin-bottom: 20px;
}


/* Thick red border */
hr {
    margin: 0;
    opacity: 0.5;
    border: 10px solid rgb(255, 0, 0);
    border-radius: 5px;
  }




