body{
    font-family: 'Roboto', sans-serif !important;
}

.produtos{
    margin-left: 0 !important;
}

.botao-busca{
    border-color: #021b3b !important;
    color: black !important;
}
.botao-busca:hover{
    background-color: #021b3b !important;
    color: white !important;
}
.pag-ancora{
    color: #021b3b !important;
}
.zoom{
    overflow: hidden ;
}
.zoom img{
    max-width: 100%;
    transition: all 0.3s;
}
.zoom img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.btn-link-produto{
    background-color: transparent !important;
}
.img-produto{
    min-width: 260px;
}