<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--LINK FONTE-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <!--LINK CSS-->
  <link rel="stylesheet" type="text/css" href="css/stylesquemsomos.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Quem somos?</title>
</head>

<body>

  <!--LOGO MR ASSIS-->
  <div class="logo">
    <img src="img/Mr. Assis.png" class="img-fluid" alt="Imagem responsiva">
  </div>
  <!--NAV BAR-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(Página atual)</span></a>
        <a class="nav-item nav-link" href="#">Produtos</a>
        <a class="nav-item nav-link" href="#">Quem somos</a>
      </div>
    </div>
  </nav>
  <!--Imagem da equipe do quem somos-->
  <div class="equipegeral">
  <div class="imgequipe">
    <img src="img/group-of-people-working-out-business-plan-in-an-office.jpg" class="img-fluid" alt="Imagem responsiva">
  </div>
  <!--Quem somos texto-->
  <div class="quemsomostexto">
    <h1>Quem Somos?</h1>
    <p> O Mr.Assis foi criado em 2003, sendo um dos pioneiros no comércio eletrônico brasileiro. Hoje é o maior
      e-commerce do segmento de tecnologia da América Latina.
      Com preços imbatíveis e mais de 20 mil produtos em seu catálogo, está sempre à frente e traz em primeira mão os
      melhores lançamentos do mercado mundial.
      O Mr.Assis coleciona diversas premiações, entre elas o prêmio Ebit, responsável por escolher as lojas eletrônicas
      que mais se destacaram no país, segundo os próprios consumidores. Com presença marcada em mais de 10 edições, o
      KaBuM! lidera segmento de informática, com a conquista do Top 10 entre os melhores e-commerces do Brasil, e a
      “Loja Mais Querida Pelos Consumidores”, nos últimos anos. </p>
  </div>
  </div>
  <!--Imagem da parte valores-->
  <div class="valores">
    <img src="img/valores.png" class="img-fluid" alt="Imagem responsiva">
    <!--Texto dos valores-->
    <h1>Nossos Valores</h1>
    <ul>
      <li><b>PADRÕES ÉTICOS</b> – Trabalhar com padrões éticos e morais, garantindo ações com integridade e honestidade.
      </li>
      <li><b>AMBIENTE</b> – Desenvolver projetos que possam ajudar a transformar a realidade social, tanto local como
        regional, por meio de práticas equilibradas entre o homem e o meio ambiente.</li>
      <li><b>RESPONSABILIDADE SOCIAL</b> – Estabelecer políticas de inclusão social, oportunizando formação adequada e
        maior qualificação profissional.</li>
      <li><b> À DIVERSIDADE.</b> Respeito à diversidade e diferença, visando integrar o espaço local com o contexto
        mundial.</li>
    </ul>
  </div>
  <!--Parte nossa loja-->
  <div class="nossaloja justify-content-center">
    <h1>Nossa Loja</h1>
    <!--Imagens da loja-->
    <img src="img/loja1.jpg" alt="...">
    <img src="img/loja2.jpg" alt="...">
    <img src="img/loja3.jpg" alt="...">
  </div>
  <!--Onde estamos -->
  <div class="gps justify-content-center">
    <h1>Onde Estamos?</h1>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3705.52173822133!2d-43.35743458558961!3d-21.760059503426255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x989c9db3972093%3A0xc335e88c85020ec9!2sAv.%20Oleg%C3%A1rio%20Maciel%20-%20Santa%20Helena%2C%20Juiz%20de%20Fora%20-%20MG%2C%2036015-360!5e0!3m2!1spt-BR!2sbr!4v1620854226004!5m2!1spt-BR!2sbr"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      <div class="h2imagem d-flex align-self-center">
      <h2>Av. Olegário Maciel - Santa Helena, Juiz de Fora - MG, 36015-360</h2>
    <img src="img/gps.png" class="img-fluid" alt="Imagem responsiva">
   </div>
  </div>
  <!-- JavaScript (Opcional) -->
  <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</body>

</html>